<div class="row div-1 ">
   <div class="col-4 rounded shadow-lg p-3 mb-5 bg-white rounded div-2 container">
       <a href='https://clubjoinme.ruthvikbasetti.repl.co/cs'><div class='col-6'><img src="https://clubjoinme.ruthvikbasetti.repl.co/static/communicando.jpeg">
      </div></a>
    <div class='col-6'>
  <div style='text-align:center'class='row fontstyle'>communicando</div>
  <div style='text-align:center'class='row'>communicando
  A literary club is a promised land for poets, orators, readers, and writers. It is
a place where everyone is free to think and build opinions on veracity or falsity
  </div>
  </div>
  </div>
</div>